/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size       : 62.5%;
  text-align      : center;
  font-family     : 'Quicksand', sans-serif;
  background-color: #90D2D0;
}

h1 {
  font-size  : 8rem;
  font-family: 'Sirin Stencil', cursive;
  margin     : 1rem 1% 2rem;
}

.subtitle {
  font-size  : 2rem;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  margin   : 1rem 1% 2rem;
}

h3 {
  font-size: 2rem;
  margin   : 1rem 1%;
}

p {
  font-size: 2rem;
  margin   : 1rem 1%;
}

.flex-container {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.container {
  margin   : 123px auto 0;
  max-width: 1200px;
}

.tv {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 90%;
  height          : 55vw;
  background-color: #8a8c8a;
  margin          : 50px auto;
  border-radius   : 5px;
}

.antenna {
  position               : absolute;
  width                  : 75px;
  height                 : 13px;
  background             : #222;
  top                    : 240px;
  left                   : 50%;
  border-top-left-radius : 50%;
  border-top-right-radius: 50%;
}

.antenna:before {
  content                : " ";
  position               : absolute;
  bottom                 : 8px;
  left                   : 5px;
  width                  : 7px;
  height                 : 110px;
  background-color       : #444;
  background-image       : linear-gradient(rgba(255, 255, 255, 0.1), transparent);
  transform              : rotate(-20deg);
  border-top-left-radius : 40%;
  border-top-right-radius: 40%;
  z-index                : -1;
}

.antenna:after {
  content                : " ";
  position               : absolute;
  bottom                 : 8px;
  left                   : 66px;
  width                  : 7px;
  height                 : 110px;
  background             : #444;
  background-image       : linear-gradient(rgba(255, 255, 255, 0.1), transparent);
  transform              : rotate(20deg);
  border-top-left-radius : 40%;
  border-top-right-radius: 40%;
  z-index                : -1;
}

.tv-screen {
  display         : flex;
  justify-content : center;
  align-items     : center;
  flex            : 4;
  height          : 42vw;
  margin          : 20px 4% 15px;
  background-color: #222;
  color           : black;
  border-radius   : 10px;
  font-size       : 2rem;
}

.tv-screen img {
  width        : 100%;
  padding      : 20px;
  border-radius: 30px;
}

.tv-controls {
  flex: 1
}

button {
  border          : none;
  outline         : none;
  cursor          : pointer;
  padding         : 10px;
  color           : black;
  font-size       : .9rem;
  background-color: white;
  width           : 60px;
  height          : 60px;
  border-radius   : 50%;
  box-shadow      : 0 6px #5a5a5a;
  transition      : none;
  position        : relative;
  margin          : 2rem 2rem 2rem 0;
}

button:hover {
  top       : 2px;
  box-shadow: 0 4px #5a5a5a;
}

button:active {
  top       : 6px;
  box-shadow: 0 0 #5a5a5a;
}

.episode-details {
  width           : 90%;
  margin          : 2rem auto;
  padding         : 1rem;
  background-color: #EAD9C7;
}

.episode-title {
  text-transform: uppercase;
}

.episode-overview {
  text-align: justify;
}

.channels {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.channel {
  margin          : 10px 4px;
  padding         : 2px 4px;
  background-color: #000;
  border-radius   : 8px;
  text-decoration : none;
  color           : #EAD9C7;
  font-size       : 2rem;
  font-weight     : 600;
}

@media (min-width: 700px) {
  .subtitle {
    font-size: 3rem;
  }

  .container {
    margin: 200px auto 0;
  }

  .antenna {
    width : 200px;
    height: 20px;
    top   : 320px;
  }

  .antenna:before {
    left  : 40px;
    width : 12px;
    height: 180px;
  }

  .antenna:after {
    left  : 150px;
    width : 12px;
    height: 180px;
  }

  button {
    width    : 90px;
    height   : 90px;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {

  .tv {
    width : 1100px;
    height: 685px;
  }

  .tv-screen {
    height: 500px;
  }
}